*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #FAD746 !important;
    font-size: 30px;
}
.Titulo {
    width: 100%;
    height: 40;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: Oswald;
    color: #FAD746;
    -webkit-text-stroke: 1px black;
}

.navbar{
    background-color: #FB342D !important;
}
.navbar  a{
    position: relative;
    font-family: Oswald;
    -webkit-text-stroke: 0.7px black; 
}
.navbar a::before{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #FAD746;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}

.navbar  a:hover::before{
    transform: scale(1);
}
header {
    background-image: url(../img/banner-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Oswald;
    height: 400px;
    width: 100%;
    padding: 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 50px;
    color: #FAD746;
}
header h1{
    font-size: 80px;
    -webkit-text-stroke: 1px black;
}
main {
    background-image: url(../img/8f8be1d487e8491a7bdb7b20c09fd2f3.jpg);
}

.producto { 
    width: 240px;
    height: 500px;
    padding: 20px;
    margin: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAD746;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #333333;
}
.producto__nombre {
    text-align: center;
    font-family: Oswald;
}

.producto__precio {
    text-align: center;
    font-family: Oswald;
}

.btn {
    width: 100px;
    background-color: #FB342D;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FAD746;
    margin: 10px;
}

footer {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    background-color: #FB342D;
    color: rgb(255, 255, 255);
    font-family: Oswald;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    color: #FAD746;
}

.Noticias__tarjeta {
    width: 400px;
    padding: 15px;
    margin: 5px;
    background-color: #D60B06;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 10px 3px #333333;
}

.Noticias__p {
    width: 300px;
    font-size: 18px;
    font-family: Oswald;
    color: #FAD746;
    -webkit-text-stroke: 1px black;
}