$color1: #FAD746;
$color2: #FB342D;
$color3: #D60B06;
$boton:( 
        borde:0,
        padding: 5px 10px,
        radio: 5px,
        margen: 10px,
        width: 100px,
);

$tarjeta:(
        width:200px,
        height: 390px,
        padding: 15px,
        margin: 15px,
        border-radius: 10px,
);

